<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Size Tracker for Spotify</title>
</head>
<body>
    <h1><%= list_name %></h1><br>

    <div>
        <canvas id="chart"></canvas>
    </div>

    <h2>Tracks:</h2>
    <% for (var i = 0; i < displayData.length; i++) { %>
    <%- (i+1).toString().padStart(4, "⠀").padEnd(6, "⠀") %> | <%- displayData[i].name %> - <%- displayData[i].artists %> : <%= displayData[i].date %><br>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        const ctx = document.getElementById('chart');

        new Chart(ctx, <%= chart_config %>);
    </script>
</body>
</html>