<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Playlist Size Tracker for Spotify</title>
    <link rel="stylesheet" href="/styles/list.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <h3>Select a Playlist to View</h3><br>

    <table>
        <% if (num_liked_songs > 0) { %>
            <tr>
                <td><img src="https://misc.scdn.co/liked-songs/liked-songs-64.png" alt="Liked Songs"></td>
                <td><a href="/display?id=me">Liked Songs</a></td>
                <td><%= num_liked_songs %> Song<%= (num_liked_songs > 1) ? 's' : ''%></td>
            </tr>
        <% } %>

        <% for (var i = 0; i < playlists.length; i++) { %>
            <tr>
                <td><img src=<%= playlists[i].images[0].url %>></td>
                <td><a href="/display?id=<%= playlists[i].id %>"><%= playlists[i].name %></a><br></td>
                <td><%= playlists[i].tracks.total %> Song<%= (playlists[i].tracks.total > 1) ? 's' : ''%></td>
            </tr>
        <% } %>
    </table>
</body>
</html>